@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: theme('colors.primaryOrange');
    --secondary-color: theme('colors.primaryBlack');
    --third-color: #bfbfbf;
    --bg-color: #fff;
  }

  [class*='dark'] {
    --primary-color: theme('colors.primaryOrange');
    --secondary-color: #fff;
    --third-color: #bfbfbf;
    --bg-color: theme('colors.primaryBlack');
  }
}

.main {
  width: 100%;
  min-height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, var(--bg-color) 100%);
  position: fixed;
  content: '';
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: '';
  background-image: url('/images/grid.svg');
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 90%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 90%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 90%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 90%),
    radial-gradient(at 33% 90%, hsla(222, 67%, 73%, 1) 0px, transparent 90%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 90%);
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

.PageContainer {
  --max-width: 80rem;
  --side-padding: 1.5rem;

  width: min(var(--max-width), 100% - var(--side-padding) * 2);
  margin-inline: auto;
}

@media (min-width: theme('screens.sm')) {
  .PageContainer {
    --side-padding: 2rem;
  }
}

@media (min-width: theme('screens.md')) {
  .PageContainer {
    --side-padding: 3rem;
  }
}

@media (min-width: theme('screens.lg')) {
  .PageContainer {
    --side-padding: 4rem;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

@layer base {
  input:focus-visible,
  textarea:focus-visible {
    outline: none;
  }

  img,
  svg {
    @apply max-h-full max-w-full;
  }
}

@layer utilities {
  .input {
    @apply w-full border-2 border-thirdColor p-4 rounded-xl;
  }
  .input:focus-visible {
    @apply shadow-[0_0px_3px_1px] shadow-primaryColor border-bgColor;
  }
  .error,
  .error::placeholder {
    @apply border-mainRed shadow-mainRed text-mainRed !important;
  }
}

/* The slider */
.slider {
  @apply absolute cursor-pointer inset-0 bg-thirdColor duration-500;
}

.slider:before {
  @apply absolute content-[''] h-4 w-4 sm:h-6 sm:w-6 top-1 left-1 bg-bgColor duration-500;
}

input:checked + .slider {
  @apply bg-primaryColor;
}

input:checked + .slider:before {
  @apply translate-x-4 sm:translate-x-6;
}

/* Rounded sliders */
.slider.round {
  @apply rounded-full;
}

.slider.round:before {
  @apply rounded-full;
}


.skeleton {
  background: #404040;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  -webkit-animation: 1.5s shine linear infinite;
          animation: 1.5s shine linear infinite;
}

@-webkit-keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}